SCUTTLE_BIN="/home/klotz/wip/llamafiles/scripts/scuttle.sh"
SUMMARIZE_BIN="/home/klotz/wip/llamafiles/scripts/summarize.sh"
NVFREE_BIN="/home/klotz/wip/llamafiles/scripts/nvfree.sh"
VIA_API_BIN="/home/klotz/wip/llamafiles/scripts/via-api.sh"
OPENAPI_UI_SERVER="http://localhost:7860"
