DEFAULT_MODEL_TYPE='Mistral'
DEFAULT_VIA='api'
LISTEN_HOST='0.0.0.0'
PORT=8080
SCUTTLE_BIN="/home/klotz/wip/llamafiles/scripts/scuttle.sh"
SUMMARIZE_BIN="/home/klotz/wip/llamafiles/scripts/summarize.sh"
NVFREE_BIN="/home/klotz/wip/llamafiles/scripts/nvfree.sh"
VIA_BIN="/home/klotz/wip/llamafiles/scripts/via.sh"
ASK_BIN="/home/klotz/wip/llamafiles/scripts/ask.sh"
HELP_BIN="/home/klotz/wip/llamafiles/scripts/help.sh"
OPENAPI_UI_SERVER="http://localhost:7860"
LLAMAFILES_LINK="https://github.com/leighklotz/llamafiles"
STATUS_BIN='/home/klotz/wip/summarizer-service/status.sh'
SCUTTLE_MODE='--yaml'
