OPENAPI_UI_SERVER="http://localhost:7860"
LISTEN_HOST='0.0.0.0'
PORT=8080
SCUTTLE_BIN="/home/USER/wip/answer/bin/scuttle.sh"
SUMMARIZE_BIN="/home/USER/wip/answer/bin/summarize.sh"
GET_MODEL_NAME="/home/USER/wip/answer/bin/commands/model.sh"
NVFREE_BIN="/home/USER/wip/answer/bin/nvfree.sh"
STATUS_BIN='/home/USER/wip/summarizer-service/scripts/status.sh'

