#rawText.display { display: block; white-space: pre; }
#rawText.hide { display: none; }
#plainText.display { display: block; }
#plainText.hide { display: none; }
#markdownText.display { display: block; }
#markdownText.hide { display: none; }

